<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.jerry.orangeplus.modules.sys.mapper.MenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="ncu.jerry.orangeplus.modules.sys.entity.Menu">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="p_code" property="pCode" />
		<result column="p_codes" property="pCodes" />
		<result column="name" property="name" />
		<result column="icon" property="icon" />
		<result column="url" property="url" />
		<result column="num" property="num" />
		<result column="levels" property="levels" />
		<result column="is_menu" property="isMenu" />
		<result column="tips" property="tips" />
		<result column="status" property="status" />
		<result column="is_open" property="isOpen" />
	</resultMap>

</mapper>
